
@import './mixin.scss';

$photos-margin: 50px;

.photo-list {
  @include flex-wrap;
  background-color: #fff;
  margin: $photos-margin auto;
}

.photo-cover {
  background: no-repeat center center;
  background-size: cover;
}
