<!doctype html>
<html lang="en">
<head>
  <meta charSet="utf-8" />
  <meta name="robots" content="noindex" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>React Practices</title>
  <link href="/assets/main.css" rel="stylesheet" />
</head>
<body>
  <script src="/assets/bundle.js"></script>
  <section class="app-container">{{{html}}}</section>
  <script class="initial-state" type="application/json">{{{data}}}</script>
</body>
</html>
